* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #121212;
}

strong {
  color: #4483f0;
}

a {
  text-decoration: none;
  color: #4483f0;
  transition: color .2s;
}

a:hover {
  color: #3166c2;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
