body {
  --main-bg-color: #F4F5F7;
  --main-text-color: #292929;
  --main-title-color: #434A54;
  --main-strong-color: #578AE5;

  --main-asideMenu-bg: #1C3766;
  --main-asideMenu-text: white;

  --secondary-label-text: #627BA3;
  --secondary-input-text: #364969;
  --secondary-input-border: #D0E1FD;
  --secondary-input-bg: #F4F5F7;
  --main-input-bg: white;
  --main-outline-color: #D0E1FD;

  --main-button-bg: #D0E1FD;
  --main-button-text: #375B92;
  --secondary-button-text: white;

  --main-addBtn-bg: #27C983;
  --main-deleteBtn-bg: #E44343;
  --main-backBtn-bg: #C9C9CE;

  --main-thead-bg: #1C3766;
  --main-tr-hover: #DFDFDF;
}


body.darkMode {
  --main-bg-color: #0D1117;
  --main-text-color: #F4F5F7;
  --main-title-color: #ECECEC;

  --main-asideMenu-bg: #1C2466;

  --secondary-label-text: #627BA3;
  --secondary-input-text: #364969;
  --secondary-input-border: #D0E1FD;
  --secondary-input-bg: #0D1117;
  --main-input-bg: #26282B;

  --main-button-bg: #D0E1FD;
  --main-button-text: #375B92;
  --secondary-button-text: white;

  --main-addBtn-bg: #27C983;
  --main-deleteBtn-bg: #E44343;
  --main-backBtn-bg: #C9C9CE;

  --main-thead-bg: #37404C;
  --main-tr-hover: #26282B;
}
