.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: calc(100% - 8rem);

  td, th {
    border: 1px solid black;
    padding: 0.625rem;
  }
  
  thead {
    background: #b3b3b3;
  }

  tbody {
    tr {
      transition: background .2s;
      
      &:hover {
        background: #dfdfdf;
      }
    } 
  }
}
